<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="baseurl" content="{$baseurl}" />
    <meta name="apikey" content="{$apikey}" />

    <link rel="shortcut icon" type="image/png" href="$baseurl}assets/admin/images/logos/favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{$baseurl}favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$baseurl}favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$baseurl}favicon/favicon-16x16.png">
    <link rel="manifest" href="{$baseurl}favicon/site.webmanifest">
    
    <link rel="shortcut icon" type="image/png" href="{$baseurl}assets/admin/images/logos/favicon.png" />
    <link rel="stylesheet" href="{$baseurl}assets/admin/css/styles.css" />
    <link rel="stylesheet" href="{$baseurl}assets/admin/css/animasi-skm.css" />
    <link rel="stylesheet" href="{$baseurl}assets/auth/css/style.css" />
    {block css}{/block}
    <title>{block title}{/block}</title>

</head>

<body class="link-sidebar">

    <div class="preloader">
        <div class="skm-loader">
            <div class='animasi-logo-skm'>
                <span class='teks-s'>KOMISI</span>
                <span class='teks-k'>KEPOLISIAN</span>
                <span class='teks-m'>NASIONAL</span>
                <span class='teks-skm'><img src='{$baseurl}assets/admin/images/custom-apps/img/Logo_Kompolnas.png'><span>KOMPOLNAS</span></span>
            </div>
        </div>
    </div>
    
    {block content}{/block}

    <script>
        function handleColorTheme(e) {
            document.documentElement.setAttribute("data-color-theme", e);
        }
    </script>

    <script src="{$baseurl}assets/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{$baseurl}assets/admin/js/theme/theme.js"></script>
    <script src="{$baseurl}assets/admin/js/style.js"></script>
    <script src="{$baseurl}assets/admin/js/form.js"></script>
    <script src="{$baseurl}assets/admin/js/validasi.js"></script>
    {block js}{/block}

</body>

</html>