<!DOCTYPE html>
<html lang="id" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="baseurl" content="{$baseurl}" />
    <meta name="apikey" content="{$apikey}" />
    <meta name="prefix" content="{$prefix_dashboard}" />
    <link rel="shortcut icon" type="image/png" href="$baseurl}assets/admin/images/logos/favicon.png" />
    <link rel="stylesheet" href="{$baseurl}assets/admin/css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="{$baseurl}assets/admin/css/style.css" />
    <link rel="stylesheet" href="{$baseurl}assets/admin/css/animasi-skm.css" />
    {block css}{/block}
    <title>{block title}{/block}</title>

</head>

<body class="link-sidebar">
    
    <div class="preloader">
        <div class="skm-loader">
            <div class='animasi-logo-skm'>
                <span class='teks-s'>KOMISI</span>
                <span class='teks-k'>KEPOLISIAN</span>
                <span class='teks-m'>NASIONAL</span>
                <span class='teks-skm'><img src='{$baseurl}assets/admin/images/custom-apps/img/Logo_Kompolnas.png'><span>KOMPOLNAS</span></span>
            </div>
        </div>
    </div>
    
    <div id="main-wrapper">
        {include './components/sidebar.latte'}

        <div class="page-wrapper">
            {include './components/header.latte'}
            {include './components/aside.latte'}
            {block content}{/block}
        </div>
    </div>

    <script>
        function handleColorTheme(e) {
            document.documentElement.setAttribute("data-color-theme", e);
        }
    </script>

    <div class="dark-transparent sidebartoggler"></div>
    <script src="{$baseurl}/assets/admin/js/vendor.min.js"></script>
    <script src="{$baseurl}assets/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{$baseurl}assets/admin/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="{$baseurl}assets/admin/js/theme/app.init.js"></script>
    <script src="{$baseurl}assets/admin/js/theme/theme.js"></script>
    <script src="{$baseurl}assets/admin/js/theme/app.min.js"></script>
    <script src="{$baseurl}assets/admin/js/theme/sidebarmenu.js"></script>
    <script src="{$baseurl}assets/admin/js/jam.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="{$baseurl}assets/admin/js/style.js"></script>
    <script src="{$baseurl}assets/admin/js/form.js"></script>
    <script src="{$baseurl}assets/admin/js/validasi.js"></script>
    <script>
    setInterval(()=>{
        setJamDigital('jam');
    }, 1000);

    setJamDigital('jam');
    </script>
    {block js}{/block}

</body>

</html>