{layout '../main.latte'}
{block content}
<div class='body-wrapper'>
    <div class='container-fluid'>
        <div class='card'>
            <div class='card-body'>
                <h5 class='card-title fw-semibold mb-4'>Surat</h5>
                <p class='mb-0'>Hello surat</p>
            </div>
        </div>
    </div>
</div>
{/block}