<div class="bg-gray-100 py-8" style="cursor: pointer;" onClick="window.location.href=this.dataset.link" data-link="{$banneryoutubelink}">
    <div class="container">
        <img src='{$baseurl}{$banneryoutubeimage}'>
    </div>
</div>