<div class="container">
    <img src="{$baseurl}{$bannerphoto}" class="mx-auto w-full sm:w-full md:w-full lg:w-[70%] xl:w-[70%] 2xl:w-[70%]">
    <div class="quotes">
        <div>
            <img src="{$baseurl}assets/web/images/quotes.png" class="w-6 mx-auto mb-4"/>
            {$quotes}
            <img src="{$baseurl}assets/web/images/quotes.png" class="w-6 right-img rotate-180 mx-auto mt-4"/>
        </div>
    </div>
</div>